@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

/*--Side-Menu--*/

#side-menu {
  position: fixed;
  width: 220px;
  height: 1701;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: -21.04%;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
#menu-header {
  width: 220px;
  height: 68px;
  left: 0px;
  top: 0px;
  background: linear-gradient(180deg, #ffb354 0%, #ee7a3a 100%);
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}
#menu-header p {
  position: relative;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
  display: flex;
  justify-content: center;
  color: #ffffff;
  padding-top: 6%;
}
/** Logo-img **/
#menu-item-logo {
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #ffffff;
  height: 258px;
  width: 220px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
}
/** Itens-Menu - Espaço total da lista**/
#menu-item {
  margin-top: 6%;
}
#menu-item li {
  width: 220px;
  height: 33px;
  font-family: "Quicksand";
  border-bottom: #d8d6d6 1.5px solid;
}
#menu-item li a {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 30px;
  color: #725c5c;
  text-decoration: none;
  height: 19px;
  width: 99px;
  left: 24px;
  top: 7px;
}
#menu-item a {
  left: 29px;
  top: 361px;
  order: 3;
  flex-grow: 0;
  margin: 0px 0px;
  margin-left: 10%;
}
#menu-item li:hover {
  background-color: #fdf1eb;
  border-left: #ee7a3a solid 3px;
}
/**Header**/
header {
  position: absolute;
  margin-left: 220px;
  width: 1146px;
  height: 68px;
  left: 0px;
  top: 0px;
  background: #fdf1eb;
}
.text-01 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  margin-left: 3%;
  margin-top: 0.5%;
  color: #725c5c;
}
.text-02 {
  width: 643px;
  height: 26px;
  left: 36px;
  top: 23px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  margin-left: 3%;
  color: #725c5c;
}
.text-03 {
  width: 105px;
  height: 16px;
  left: 36px;
  top: 48px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin-left: 3%;
  color: #725c5c;
}
/** LANGUAGE-BOX **/
.language-box {
  box-sizing: border-box;
  position: absolute;
  width: 97px;
  height: 34px;
  left: 689px;
  top: 17px;
  border: 1px solid #cccccc;
  border-radius: 3px;
}
.fa-globe {
  width: 22px;
  height: 21px;
  left: 798px;
  top: 22px;
  margin-left: 10%;
  margin-top: 8%;
  font-size: 14px;
}
.pt-br {
  width: 58px;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  margin-left: 32%;
  margin-top: -25%;
}
.user {
  position: absolute;
  width: 72px;
  height: 18px;
  left: 830px;
  top: 17px;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  color: #333333;
}
