@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
body {
  width: 1000x;
  height: 1701;
  top: -978;
  left: -684px;
}

/*--Side-Menu--*/

#side-menu {
  position: fixed;
  width: 220px;
  height: 1701;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: -21.04%;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
#menu-header {
  width: 220px;
  height: 68px;
  left: 0px;
  top: 0px;
  background: linear-gradient(180deg, #ffb354 0%, #ee7a3a 100%);
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
#menu-header p {
  position: relative;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
  display: flex;
  justify-content: center;
  color: #ffffff;
  padding-top: 6%;
}
/** Logo-img **/
#menu-item-logo {
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #ffffff;
  height: 258px;
  width: 220px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
}
/** Itens-Menu - Espaço total da lista**/
#menu-item li {
  width: 220px;
  height: 33px;
  font-family: "Quicksand";
  border-bottom: #e1e1e1 2.3px solid;
}

#menu-item li a {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 30px;
  color: #725c5c;
  text-decoration: none;
  height: 19px;
  width: 99px;
  left: 24px;
  top: 7px;
}
#menu-item a {
  left: 29px;
  top: 361px;
  order: 3;
  flex-grow: 0;
  margin: 0px 0px;
  margin-left: 10%;
}
#menu-item li:hover {
  background-color: #fdf1eb;
  border-left: #ee7a3a solid 4px;
  width: 98%;
  border-bottom: none;
  box-shadow: 0px 0px 10px rgba(36, 36, 36, 0.25);
}
/**Header**/

header {
  position: absolute;
  margin-left: 220px;
  width: 1125px;
  height: 68px;
  left: 0.2%;
  top: 0px;
  background: #fdf1eb;
}
.text-01 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  margin-left: 3%;
  margin-top: 0.5%;
  color: #725c5c;
}
.text-02 {
  width: 643px;
  height: 26px;
  left: 36px;
  top: 23px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  margin-left: 3%;
  color: #725c5c;
}
.text-03 {
  width: 105px;
  height: 16px;
  left: 36px;
  top: 48px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin-left: 3%;
  color: #725c5c;
}
/**header  Language-BOX **/
.language-box {
  box-sizing: border-box;
  position: absolute;
  width: 97px;
  height: 34px;
  left: 689px;
  top: 17px;
  border: 1px solid #cccccc;
  border-radius: 3px;
}
.fa-globe {
  width: 22px;
  height: 21px;
  left: 798px;
  top: 22px;
  margin-left: 10%;
  margin-top: 8%;
  font-size: 14px;
}
.pt-br {
  width: 58px;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  margin-left: 32%;
  margin-top: -25%;
}
/** User **/
.user {
  position: absolute;
  width: 72px;
  height: 18px;
  left: 830px;
  top: 17px;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  color: #333333;
}
.user img {
  position: absolute;
  left: 280.28%;
  border-radius: 90px;
  right: 2.53%;
  top: 27.94%;
  bottom: 27.94%;
}
.notification {
  position: absolute;
  left: 315.28%;
  color: #fff;
  background-color: red;
  font-weight: 400;
  margin-top: -50%;
  padding-right: 5px;
  width: 19%;
  border-radius: 100%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
}
/***** Content ******/

#content {
  position: absolute;
  width: 1059px;
  height: 1382px;
  left: 255px;
  top: 88px;
}
#content h1 {
  position: absolute;
  height: 54px;
  left: 0px;
  right: 273px;
  top: 0px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.05em;
  color: #ed7839;
}
.video-overlay1 img {
  position: absolute;
  width: 783px;
  height: 439px;
  left: 0;
  top: 4px;
  border-radius: 3px;
  margin-left: 19%;
  margin-top: 11%;
}
.video-overlay2 img {
  position: absolute;
  width: 783px;
  height: 439px;
  left: 0;
  top: 4px;
  border-radius: 3px;
  margin-left: 19%;
  margin-top: 11%;
  background: rgba(141, 53, 6, 0);
}
.video-overlay1 p {
  position: absolute;
  height: 54px;
  left: 305px;
  right: 400px;
  top: 185px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.icone-circle img {
  position: absolute;
  width: 90px;
  height: 90px;
  border-radius: 100%;
  padding: 0.1%;
  border: 1.5px solid #ed7839;
  left: 2%;
  top: 45%;
}
.icone-circle h1 {
  position: absolute;
  height: 36px;
  left: 415px;
  right: 473px;
  top: 445px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 34px;
  line-height: 25px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.icone-circle h2 {
  position: absolute;
  height: 36px;
  left: 415px;
  right: 473px;
  top: 480px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.buttons p {
  position: absolute;
  height: 25px;
  left: 1075px;
  right: 0px;
  top: 115px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;

  letter-spacing: 0.05em;
  color: #ed7839;
}
.buttons p img {
  width: 330px;
  color: #cccccc;
  background-color: #ed7839;
  padding: 2%;
  left: 50%;
}
.buttons li {
  width: 120px;
  height: 31px;
  margin-left: 1150px;
  top: -1000px;
  background-color: #ed7839;
  padding: 2px;
  position: absolute;
  height: 19px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  border-radius: 4px;
}
.side-right {
  /* estrutura painel*/

  box-sizing: border-box;
  position: absolute;
  width: 242px;
  height: 439px;
  left: 1075px;
  top: 139px;
  border: 1px solid #ececec;
  border-radius: 3px;
}
.header-side-right {
  /*cabecalho detalhes painel */
  box-sizing: border-box;
  position: absolute;
  width: 240px;
  height: 45px;
  left: 600 px;
  top: 0;
  background: #fdf1eb;
  border: 1px solid #ececec;
  border-radius: 3px 3px 0px 0px;
}
.header-side-right p {
  /*Fonte Detalhes Painel Side-right*/
  position: absolute;
  width: 212px;
  left: 10px;
  top: 19px;
  bottom: 1644px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: #4e4e4e;
}
.painel {
  position: absolute;
  width: 212px;
  height: 364px;
  left: 1090px;
  top: 210px;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #5c5c5c;
}
span {
  font-weight: 700;
  color: rgb(5, 5, 5);
  line-height: 20px;
}
.painel-autores {
  line-height: 120%;
  font-size: 14px;
  margin-bottom: 20%;
}

.painel-text-end {
  line-height: 120%;
}
/**************** Resumo *************/
.resumoheader h1 {
  /* Cabeçaho Resumo */
  position: absolute;
  width: 1028px;
  left: 15px;
  top: 552px;
  bottom: 805px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  padding-left: 1%;
  display: flex;
  align-items: center;
  color: #4e4e4e;
}
.content-resumo h1 {
  /* Fundo cabeçalho resumo */
  box-sizing: border-box;
  position: relative;
  width: 1058px;
  height: 45px;
  left: 255px;
  top: 625px;
  background: #fdf1eb;
  border: 1px solid #ececec;
  border-radius: 3px 3px 0px 0px;
}
.content-resumo p {
  /* Fundo texto paragrafo resumo */
  position: absolute;
  padding-left: 1%;
  padding-right: 1%;
  box-sizing: border-box;
  width: 1058px;
  height: 159px;
  left: 255px;
  top: 669px;
  border: 1px solid #ececec;
  border-radius: 3px;
}

.content-resumo-text {
  /* fonte paragrafo */
  width: 1028px;
  height: 114px;
  padding-top: 1%;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.02em;
  color: #5c5c5c;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
#mais {
  display: none;
}
#btnLeiaMais {
  padding: 0;
  background-color: #ffffff;
  border: none;
  font-weight: 700;
  color: #ed7839;
}

/* Discussões */
.content-discussoes {
  box-sizing: border-box;
  position: absolute;
  width: 1058px;
  height: 621px;
  left: 255px;
  top: 865px;
  border: 1px solid #ececec;
  border-radius: 3px;
}
.discussoes-header h1 {
  /* Fundo cabeçalho resumo */
  box-sizing: border-box;
  height: 45px;
  left: 254px;
  top: 618px;
  font-size: 20px;
  background: #fdf1eb;
  border: 1px solid #ececec;
  border-radius: 3px 3px 0px 0px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: #4e4e4e;
  padding-left: 1.2%;
}
.discussoes-header h2 {
  position: absolute;
  left: 30.64%;
  right: 10.51%;
  top: 10.15%;
  bottom: 57.74%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #ed7839;
}
.discussoes-icons img {
  display: inline-flex;
  margin: 0 auto;
  justify-content: space-around;
  width: 50px;
  height: 50px;
  margin-top: 5%;
  margin-left: 20%;
}
